
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFile",
                        "Cesar",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    <label for="file">Cargar Archivo:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Cargar Archivo" />
    <input type="submit" value="Cifrar" />
    <input type="submit" value="Descifrar" />
    <br><br>
    @ViewBag.Message
}

