
@{
    ViewBag.Title = "DownloadKeys";
}

<h2>DownloadKeys</h2>
<p>
    @Html.ActionLink("Download Private Key", "DownloadPrivateKey") |
    @Html.ActionLink("Download Public Key", "DownloadPublicKey") |
    @Html.ActionLink("Home RSA", "Index")
</p>
